.bg-normal,
.bg-unknown {
    background: linear-gradient(177.03deg, #b3b3b3 -11.97%, #bababa 57.49%, #D3D3D3 135.64%);
}

.bg-fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.bg-flying {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bg-poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.bg-ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.bg-rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bg-ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.bg-steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}

.bg-fire {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.bg-water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.bg-grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.bg-electric {
    background: linear-gradient(to top, rgba(255, 253, 165, 1) 0%, rgba(252, 224, 70, 1) 100%);
}

.bg-phychic {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}

.bg-ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.bg-dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.bg-dark,
.bg-shadow {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.bg-fairy {
    background: linear-gradient(to top, rgba(255, 126, 245, 1) 0%, rgba(250, 223, 243, 1) 100%);
}

.color-normal,
.color-unknown {
    border: 10px solid #bababa
}

.color-fighting {
    border: 10px solid #96402A;
}

.color-flying {
    border: 10px solid #BC6B7C;
}

.color-poison {
    border: 10px solid #A564E3;
}

.color-ground {
    border: 10px solid #895C1A;
}

.color-rock {
    border: 10px solid #8D8D94;
}

.color-bug {
    border: 10px solid #3BB039;
}

.color-ghost {
    border: 10px solid #454AA8;
}

.color-steel {
    border: 10px solid #728881;
}

.color-fire {
    border: 10px solid #E35825;
}

.color-water {
    border: 10px solid #1479FB;
}

.color-grass {
    border: 10px solid #7EC6C5;
}

.color-electric {
    border: 10px solid rgba(252, 224, 70, 1);
}

.color-phychic {
    border: 10px solid #C23867;
}

.color-ice {
    border: 10px solid #64CBF5;
}

.color-dragon {
    border: 10px solid #56A4AE;
}

.color-dark,
.color-shadow {
    border: 10px solid #0D1211;
}

.color-fairy {
    border: 10px solid rgba(255, 126, 245, 1);
}

.color-text-normal,
.color-text-unknown {
    color: #bababa;
}

.color-text-fighting {
    color: #96402A;
}

.color-text-flying {
    color: #BC6B7C;
}

.color-text-poison {
    color: #A564E3;
}

.color-text-ground {
    color: #895C1A;
}

.color-text-rock {
    color: #8D8D94;
}

.color-text-bug {
    color: #3BB039;
}

.color-text-ghost {
    color: #454AA8;
}

.color-text-steel {
    color: #728881;
}

.color-text-fire {
    color: #E35825;
}

.color-text-water {
    color: #1479FB;
}

.color-text-grass {
    color: #7EC6C5;
}

.color-text-electric {
    color: rgba(252, 224, 70, 1);
}

.color-text-phychic {
    color: #C23867;
}

.color-text-ice {
    color: #64CBF5;
}

.color-text-dragon {
    color: #56A4AE;
}

.color-text-dark,
.color-text-shadow {
    color: #0D1211;
}

.color-text-fairy {
    color: rgba(255, 126, 245, 1);
}

.card-pokedex {
    width: 261px;
    border-radius: 15px;
    transition: transform 200ms ease;
    cursor: pointer;
}

.card-pokedex:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
}


.color-pokedex-card {
    position: relative;
    height: 128px;
    display: flex;
    justify-content: center;
}

.img-pokedex {
    position: absolute;
    top: 0;
    width: 70%;
}

.title-container-pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-pokedex {
    margin-top: 45px;
    margin: 0;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.p-pokedex {
    margin: 0;
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.p-type-pokedex {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #9F9F9F;

}

.features-pokedex {
    display: flex;
    justify-content: space-around;
}

.type-features-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-p {
    color: #9F9F9F;
    margin: 0;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0.5rem;

}

.type-h2 {
    color: #735259;
    margin: 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 2rem;
}